<div class="container">
  <header class="d-flex justify-content-center py-3">
    <button class="btn offcanvas_btn p-0" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasScrolling"
      aria-controls="offcanvasScrolling">&#9776;</button>
    <ul class="nav nav-pills">
      <li class="nav-item"><a href="#" class="nav-link active" aria-current="page">ALL Games</a></li>
      <li class="nav-item"><a href="#" onclick="short_btn" class="nav-link">Short Games</a></li>
      <li class="nav-item"><a href="#" class="nav-link">Games Type</a></li>
      <li class="nav-item"><a href="#" class="nav-link">Games Tags</a></li>
    </ul>
  </header>
</div>

